.footer {
    position: fixed;

    bottom: 0;
    color: white;
    text-align: center;
    min-height: 10vh;
    background-color: black;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10vh;
    margin-right: 0 !important;
}

.social-media {
    display: flex;
    justify-content: space-around;
}

.social-media a {
    margin-left: 10vh;
    margin-right: 10vh;
    height: 100%;
    text-decoration: none;
}

.footer-button {
    font-size: 2rem;
}

.facebook {
    color: #3b5998;
}

.instagram {
    color: #C13584;
}