a {
    color: red !important;
    font-size: 110%;
}

#mobileBtn {
    display: none;
}

@media only screen and (max-width: 990px) {
    #mobileBtn {
        display: block;
    }

    #menu {
        display: none;
    }
}