.column {
    height: 30vh;
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;

}


.column-gallery img {
    height: 70%;
    width: 70%;
    object-fit: cover;
    opacity: 1;
    filter: blur(0);
    position: absolute;
    border: 2px solid red;
    margin: 1px;
    transition: all .3s ease-in-out;

}


.column p {
    color: white !important;
    font-family: monospace;
    font-size: 1.6rem;
    z-index: 1;
}


.column img:hover {
    opacity: 0.8;
    border-color: orange;
}

.column a {
    text-decoration: inherit;
    color: inherit;
    cursor: pointer;
}

.column h3 {
    color: white;
    text-align: center;
    white-space: initial;
    width: 90%;
}

.column h5 {
    color: white;
    margin: 0;
    padding-bottom: 10vh;
}

.scroll {
    overflow-y: auto;
    white-space: nowrap;
    max-height: 85vh;
}

@media (max-width: 990px) {
    .column-gallery img {
        height: 100%;
        width: 80%;
    }



}