.section-header {
    height: 10vh;
    padding-top: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
}


.column {
    height: 35vh;
    margin-top: 5vh;
    display: flex !important;
    justify-content: center;
    align-items: center;
    cursor: pointer;

}


.column img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    opacity: 0.3;
    filter: blur(1px);
    position: absolute;
    border: 2px solid red;
    margin: 1px;
    transition: all .3s ease-in-out;

}


.column p {
    color: white !important;
    font-family: monospace;
    font-size: 1.6rem;
    text-align: center;
    z-index: 1;
}

.mobileOption {
    background-color: pink;
    color: black;
    height: 10vh;
    border: 1px solid red;
    z-index: 100;
}

.mobileOption p {
    display: flex;
    justify-content: center;
    align-items: center;
}



.column img:hover {
    opacity: 0.8;
    border-color: orange;
}

.gallery-item-margin {
    margin-top: 10vh;
}

@media only screen and (max-width: 990px) {
    .section-header {
        text-align: center;
    }
}