* {
    box-sizing: border-box;
}


body {

    background-image: linear-gradient(to bottom, #080808, #222);
    min-height: 85vh;
    background-size: cover;
}

p {
    color: red !important;
}

h1 {
    color: red;
    display: inline-block;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: transparent;
    color: #f5f5f5;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0 !important;
}

.scroll {
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 85vh;
}

::-webkit-scrollbar {
    height: 12px;
    width: 12px;
    background: white;
}

::-webkit-scrollbar-thumb {
    background: #393812;
    -webkit-border-radius: 1ex;
    -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.75);
}

::-webkit-scrollbar-corner {
    background: #000;
}